﻿<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-10 offset-xl-4 offset-md-3 offset-1">
          <h5 class="widget-login-logo animated fadeInUp">
          <img src="http://www.doctorplusindia.com/uploads/logo_image/1402750667_Doctor%20Plus%20Logo.png" alt="Logo" style="max-height: 200px;" />
          </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Login</h3>
          </header>
          <div class="widget-body">
            <form class="login-form mt-lg">
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
              </div>
              <div class="form-group">
                <input class="form-control" id="pswd" type="password" placeholder="Password">
              </div>
              <div class="clearfix">
                <div class="btn-toolbar float-right m-t-1">
                  <button type="button" class="btn btn-secondary btn-sm">Forgot Password?</button>
                  <a id="login-button" class="btn btn-inverse btn-sm" [routerLink]="['/app', 'forms'] ">Login</a>
                </div>
              </div>
              <div class="row m-t-1">
                <div class="col-md-6 push-md-6">
                  <div class="clearfix">
                  </div>
                </div>
                <br />
                <div class="col-md-6 pull-md-6">
                  <a class="mr-n-lg" id="forgot" href="#">Forgot password?</a>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
     &copy; Copyright 2017 aDoctorToday.     need help? <strong>admin@adoctortoday.com</strong>
  </footer>
</div>
