﻿<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <a href="index.html">
      <img src="http://www.doctorplusindia.com/uploads/logo_image/1402750667_Doctor%20Plus%20Logo.png" alt="Logo" style="max-height:75px;" />
    </a>
      </header>
  <div class="sidebar-status hidden-md-up">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="thumb-sm avatar float-right">
        <img class="rounded-circle" src="assets/img/people/a5.jpg" alt="...">
              </span>
      <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
           should be used with bg-* and text-* classes for colors -->
              <span class="circle bg-warning fw-bold text-gray-dark">
                  13
              </span>
      &nbsp;
      Philip <strong>Smith</strong>
      <b class="caret"></b>
    </a>
    <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
  </div>
  <!-- main notification links are placed inside of .sidebar-nav -->


  <ul class="sidebar-nav">
    <li>
      <!-- an example of nested submenu. basic bootstrap collapse component -->
      <a class="collapsed" data-target="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
        <span class="icon">
          <i class="glyphicon glyphicon-user"></i>
        </span>
        Admin User(s)
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-forms" class="collapse">
        <li><a [routerLink]=" ['forms/admin-user'] ">Admin #1</a></li>
        <li><a [routerLink]=" ['forms/add-admin-user'] ">Add New Admin User</a></li>
      </ul>
    </li>
    <li>
      <a class="collapsed" data-target="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
        <span class="icon">
          <i class="fa fa-user-md"></i>
        </span>
        Provider(s)
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-ui" class="collapse">
        <li><a [routerLink]=" ['forms/provider-group'] ">Provider #1</a></li>
        <li><a [routerLink]=" ['forms/add-provider-group'] ">Add New Provider Group</a></li>
      </ul>
    </li>
  </ul>
</div>
