﻿<img src="#" alt="logo" />
<h3 class="page-title">Name of provider group </h3>

<div class="row">
  <div class="col-lg-4 col-12">
    <section widget class="widget">
      <!-- .widget>header is generally a place for widget title and widget controls. see .widget in _base.scss -->
      <header>
        <h6>
          USERBASE GROWTH
        </h6>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <div class="stats-row">
          <div class="stat-item">
            <h6 class="name fs-sm">Overall Growth</h6>
            <p class="value">76.38%</p>
          </div>
          <div class="stat-item">
            <h6 class="name fs-sm">Montly</h6>
            <p class="value">10.38%</p>
          </div>
          <div class="stat-item">
            <h6 class="name fs-sm">24h</h6>
            <p class="value">3.38%</p>
          </div>
        </div>
        <div class="bg-gray-lighter progress progress-xs">
          <div class="progress-bar progress-xs bg-success" style="width: 60%"></div>
        </div>
        <p>
          <small><span class="circle bg-warning"><i class="glyphicon glyphicon-chevron-up"></i></span></small>
          <span class="fw-semi-bold">17% higher</span>
          than last month</p>
      </div>
    </section>
  </div>
  <div class="col-lg-4 col-12">
    <section widget class="widget">
      <header>
        <h6>
          TRAFFIC VALUES
        </h6>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <div class="stats-row">
          <div class="stat-item">
            <h6 class="name fs-sm">Overall Values</h6>
            <p class="value">17 567 318</p>
          </div>
          <div class="stat-item">
            <h6 class="name fs-sm">Montly</h6>
            <p class="value">55 120</p>
          </div>
          <div class="stat-item">
            <h6 class="name fs-sm">24h</h6>
            <p class="value">9 695</p>
          </div>
        </div>
        <div class="bg-gray-lighter progress progress-xs">
          <div class="progress-bar progress-xs bg-danger" value="100" max="100" style="width: 60%"></div>
        </div>
        <p>
          <small><span class="circle bg-warning"><i class="fa fa-chevron-down"></i></span></small>
          <span class="fw-semi-bold">8% lower</span>
          than last month
        </p>
      </div>
    </section>
  </div>
  <div class="col-lg-4 col-12">
    <section widget class="widget">
      <header>
        <h6>
          RANDOM VALUES
        </h6>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <div class="stats-row">
          <div class="stat-item">
            <h6 class="name fs-sm">Overcome T.</h6>
            <p class="value">104.85%</p>
          </div>
          <div class="stat-item">
            <h6 class="name fs-sm">Takeoff Angle</h6>
            <p class="value">14.29&deg;</p>
          </div>
          <div class="stat-item">
            <h6 class="name fs-sm">World Pop.</h6>
            <p class="value">7,211M</p>
          </div>
        </div>
        <div class="bg-gray-lighter progress progress-xs">
          <div class="progress-bar progress-xs bg-primary" value="100" max="100" style="width: 60%"></div>
        </div>
        <p>
          <small><span class="circle bg-warning"><i class="fa fa-plus"></i></span></small>
          <span class="fw-semi-bold">8 734 higher</span>
          than last month
        </p>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-12">
    <section widget class="widget">
      <header>
        <h6><span class="badge badge-danger">New</span> Messages</h6>
        <div class="widget-controls">
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body no-padding">
        <div class="list-group list-group-lg">
          <a class="list-group-item" href="#">
                                <span class="thumb-sm float-xs-left mr">
                                    <img class="rounded-circle" src="assets/img/people/a2.jpg" alt="...">
                                    <i class="status status-bottom bg-success"></i>
                                </span>
            <div>
              <h6 class="no-margin">Chris Gray</h6>
              <p class="help-block text-ellipsis no-margin">Hey! What's up? So many times since we</p>
            </div>
          </a>
          <a class="list-group-item" href="#">
                                <span class="thumb-sm float-xs-left mr">
                                    <img class="rounded-circle" src="assets/img/people/a4.jpg" alt="...">
                                    <i class="status status-bottom bg-success"></i>
                                </span>
            <div>
              <h6 class="no-margin">Jamey Brownlow</h6>
              <p class="help-block text-ellipsis no-margin">Good news coming tonight. Seems they agreed to proceed</p>
            </div>
          </a>
          <a class="list-group-item" href="#">
                                <span class="thumb-sm float-xs-left mr">
                                    <img class="rounded-circle" src="assets/img/people/a1.jpg" alt="...">
                                    <i class="status status-bottom bg-warning"></i>
                                </span>
            <div>
              <h6 class="no-margin">Livia Walsh</h6>
              <p class="help-block text-ellipsis no-margin">Check my latest email plz!</p>
            </div>
          </a>
          <a class="list-group-item" href="#">
                                <span class="thumb-sm float-xs-left mr">
                                    <img class="rounded-circle" src="assets/img/people/a5.jpg" alt="...">
                                    <i class="status status-bottom bg-danger"></i>
                                </span>
            <div>
              <h6 class="no-margin">Jaron Fitzroy</h6>
              <p class="help-block text-ellipsis no-margin">What about summer break?</p>
            </div>
          </a>
        </div>
      </div>
      <footer class="bg-body-light mt">
        <input type="search" class="form-control form-control-sm" placeholder="Search">
      </footer>
    </section>
  </div>
  <div class="col-lg-4 col-12">
    <section widget class="widget">
      <header>
        <h6>
          Market <span class="fw-semi-bold">Stats</span>
        </h6>
        <div class="widget-controls">
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <h3>$720 Earned</h3>
        <p class="fs-mini text-muted mb mt-sm">
          Target <span class="fw-semi-bold">$820</span> day earnings
          is <span class="fw-semi-bold">96%</span> reached.
        </p>
      </div>
      <div class="widget-table-overflow">
        <table class="table table-striped table-sm">
          <thead class="no-bd">
          <tr>
            <th>
              <div class="checkbox abc-checkbox">
                <input id="checkbox210" type="checkbox" check-all>
                <label for="checkbox210"></label>
              </div>
            </th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="checkbox abc-checkbox">
                <input id="checkbox212" type="checkbox">
                <label for="checkbox212"></label>
              </div>
            </td>
            <td>HP Core i7</td>
            <td class="text-align-right fw-semi-bold">$346.1</td>
          </tr>
          <tr>
            <td>
              <div class="checkbox abc-checkbox">
                <input id="checkbox214" type="checkbox">
                <label for="checkbox214"></label>
              </div>
            </td>
            <td>Air Pro</td>
            <td class="text-align-right fw-semi-bold">$533.1</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="widget-body mt-xlg" market-stats-widget>
      </div>
    </section>
  </div>
  <div class="col-lg-4 col-12">
    <section widget class="widget">
      <header>
        <h6>Calendar</h6>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body no-padding">
        <div class="bg-primary-light" bootstrap-calendar [events]="[
                [
                        '2/'+month+'/'+year,
                    'The flower bed',
                    '#',
                    config.settings.colors['brand-primary'],
                    'Contents here'
                ],
                [
                        '5/'+month+'/'+year,
                    'Stop world water pollution',
                    '#',
                    config.settings.colors['brand-warning'],
                    'Have a kick off meeting with .inc company'
                ],
                [
                        '18/'+month+'/'+year,
                    'Light Blue 2.2 release',
                    '#',
                    config.settings.colors['brand-success'],
                    'Some contents here'
                ],
                [
                        '29/'+month+'/'+year,
                    'A link',
                    'http://www.flatlogic.com',
                    config.settings.colors['brand-danger']
                ]
            ]"></div>
        <div class="list-group fs-mini">
          <a href="#" class="list-group-item text-ellipsis">
            <span class="badge badge-pill badge-warning float-right">6:45</span>
            Weed out the flower bed
          </a>
          <a href="#" class="list-group-item text-ellipsis">
            <span class="badge badge-pill badge-success float-right">9:41</span>
            Stop world water pollution
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
