﻿<div class="row">
  <div class="col-md-3">
    <h1 class="page-title"> <span class="fw-semi-bold">Provider Group</span></h1>
  </div>
  <div class="col-md-9">
    <button class="btn btn-primary pull-right" id="edit-me" name="edit">Edit Information</button>
    <!-- when this button is clicked, each input form should be enabled
     (disabled should be removed) and the save changes/cancel button should appear -->

  </div>
</div>
<div class="row">
  <div class="col">
    <section class="widget" widget>
      <div class="widget-body">
        <form class="form-horizontal" role="form">
          <fieldset>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4  col-form-label text-md-right">Name</label>
              <div class="col-md-7 ">
                <input type="text" id="normal-field" class="form-control" value="" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4  col-form-label text-md-right">Address</label>
              <div class="col-md-7 ">
                <input type="text" id="normal-field" class="form-control" value="" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4  col-form-label text-md-right">Primary Contact Name</label>
              <div class="col-md-7 ">
                <input type="text" id="normal-field" class="form-control" placeholder="" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4  col-form-label text-md-right">Primary Contact Email</label>
              <div class="col-md-7 ">
                <input type="text" id="normal-field" class="form-control" placeholder="contact@example.com" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4  col-form-label text-md-right">Primary Contact Phone</label>
              <div class="col-md-7">
                <input id="mask-phone" name="mask-phone" class="form-control" [textMask]="phoneMask" [ngModel]="phoneValue" (ngModelChange)="phoneValue = unmask($event)" type="text" disabled/>
              </div>

            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-right" for="prepended-input">Sign Up Date</label>
              <div class="col-md-7 ">
                <div class="input-group">
                  <input id="prepended-input" class="form-control" size="16" type="text" value="" placeholder="01/12/1970" disabled>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-right" for="password-field">Insurance Accepted</label>
              <div class="col-md-7 ">
                <div class="form-group row">
                  <div class="col-md-8 ">
                    <select2 id="default-select"
                             disabled
                             (valueChanged)="select2Changed($event)"
                             [data]="getSelect2DefaultList()" [options]="select2Options" [width]="250"></select2>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-right" for="appended-input">Payment Frequency</label>
              <div class="col-md-7 ">
                <div class="input-group">
                  <div class="row">
                    <div class="radio abc-radio">
                      <input type="radio" name="radio1" id="radio1" value="option1" checked disabled>
                      <label for="radio1">
                        Annually
                      </label>
                    </div>
                    <div class="radio abc-radio">
                      <input type="radio" name="radio1" id="radio2" value="option2" unchecked disabled>
                      <label for="radio2">
                        Monthly
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-right" for="combined-input">Payment Amount</label>
              <div class="col-md-7 ">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input id="combined-input" class="form-control" size="16" type="text" disabled>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-right" for="combined-input">Per Appointment Amount</label>
              <div class="col-md-7 ">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input id="combined-input" class="form-control" size="16" type="text" disabled>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-right" for="appended-input">Payment Method</label>
              <div class="col-md-7 ">
                <div class="row">
                  <div class="radio abc-radio">
                    <input type="radio" name="radio2" id="radio1" value="option1" checked disabled>
                    <label for="radio3">
                      Credit Card
                    </label>
                  </div>
                  <div class="radio abc-radio">
                    <input type="radio" name="radio2" id="radio2" value="option2" unchecked disabled>
                    <label for="radio4">
                      Other
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-right" for="prepended-input">Last payment processed date</label>
              <div class="col-md-7 ">
                <div class="input-group">
                  <input id="prepended-input" class="form-control" size="16" type="text" value="" placeholder="01/12/1970" disabled>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-right" for="appended-input">Rating Enabled</label>
              <div class="col-md-7 ">
                <div class="form-group row">
                  <div class="col-md-8 ">
                    <select class="selectpicker" data-style="btn-secondary"
                            data-width="auto"
                            tabindex="-1" id="simple-select" disabled>
                      <option value="1">Yes</option>
                      <option value="0">No</option>

                    </select>
                  </div>
                </div>
              </div>
            </div>

          </fieldset>
          <div class="form-actions">
            <div class="row">
              <div class="offset-md-4 col-md-7 ">
                <!--<button type="submit" id="save" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-inverse">Cancel</button>-->
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>



</div>