﻿
<h1 class="page-title"> <span class="fw-semi-bold">Add an Admin Group</span></h1>

<div class="row">
  <div class="col">
    <section class="widget" widget>
      <div class="widget-body">
        <form class="form-horizontal" role="form">
          <fieldset>
            <div class="form-group row">
                <div class="col-md-6">
                  <label for="normal-field" class="col-md-4  col-form-label">First Name</label>
                    <input type="text" (input)="onUserInput($event)" id="normal-field" class="form-control" placeholder="{{admins[0].name}}" required>
                </div>
              
              <div class="col-md-6">
                <label for="normal-field" class="col-md-4  col-form-label">Last Name</label>
                  <input type="text" id="normal-field" class="form-control" placeholder="" required>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label for="normal-field" class="col-md-4  col-form-label">Address</label>
                  <input type="text" id="normal-field" class="form-control" placeholder="" required>
              </div>
              <div class="col-md-6">
                <label for="normal-field" class="col-md-4  col-form-label ">Address 2</label>
                  <input type="text" id="normal-field" class="form-control" placeholder="optional" >
              </div>
              </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label for="normal-field" class="col-md-4  col-form-label">City</label>
                  <input type="text" id="normal-field" class="form-control" placeholder="" required>
                </div>
              <div class="col-md-6">
                <label class="col-md-4  col-form-label" for="password-field">State</label>
                  <div class="form-group row">
                    <div class="col-md-8 ">
                      <select2 id="default-select"
                               (valueChanged)="select2Changed($event)"
                               [data]="getSelect2DefaultList()" [options]="select2Options" [width]="250"></select2>
                    </div>
                    </div>
                </div>
              </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label class="col-md-4  col-form-label" for="prepended-input">Zipcode</label>
                  <input type="text" id="max-length" maxlength="5"
                         class="form-control"
                         placeholder=""
                         placement="top" tooltip="5 digit zipcodes only" required />
                </div>
              <div class="col-md-6">
                <label for="normal-field" class="col-md-4  col-form-label">Email</label>
                  <input type="text" id="normal-field" class="form-control" placeholder="" required>
              </div>
              </div>



            <div class="form-group row">
              <div class="col-md-6">
                <label class="col-md-4  col-form-label" for="combined-input">Office Phone</label>
                  <input id="mask-phone1" name="mask-phone1" class="form-control" [textMask]="phoneMask" [ngModel]="phoneValue1" (ngModelChange)="phoneValue = unmask($event)" type="text" placeholder="(321) 456-7890"  required/>
              </div>
                <div class="col-md-6">
                  <label class="col-md-4  col-form-label " for="combined-input"> Cell Phone </label>
                    <input id="mask-phone2" name="mask-phone2" class="form-control" [textMask]="phoneMask" [ngModel]="phoneValue2" (ngModelChange)="phoneValue = unmask($event)" type="text" placeholder="(123) 456-7890" required />
                </div>
              </div>

          </fieldset>
          <div class="form-actions">
            <div class="row">
              <div class="offset-md-4 col-md-7 ">
                <button type="submit"  id="save" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-inverse">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>



</div>