﻿<div class="container-fluid no-gutters">
  <!-- .navbar-header contains links seen on xs & sm screens -->
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item ml-sm hidden-sm-down"><a href="index.html" style=" padding: 30px; font-size: 150%">aDoctorToday</a></li>
<!-- fix the formatting on this so the padding is correct -->
    </ul>
    <ul class="navbar-nav navbar-right hidden-md-up">
      <li class="nav-item">
        <!-- toggles chat -->
        <a class="nav-link" href="#" (click)="toggleChat()">
          <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
        </a>
      </li>
    </ul>
    <a class="navbar-brand hidden-md-up" [routerLink]=" ['/app/dashboard'] ">
      <i class="fa fa-circle text-gray mr-n-sm"></i>
      <i class="fa fa-circle text-warning"></i>
      &nbsp;
      {{config.name}}
      &nbsp;
      <i class="fa fa-circle text-warning mr-n-sm"></i>
      <i class="fa fa-circle text-gray"></i>
    </a>
  </div>

  <!-- this part is hidden for xs screens -->
  <div class="collapse navbar-collapse">
    <!-- search-results form! link it to your search-results server -->
    <!--<form class="navbar-form float-left" role="search" #f="ngForm" (ngSubmit)="onDashboardSearch(f)">
      <div class="form-group">
        <div class="input-group input-group-no-border">
          <span class="input-group-addon">
              <i class="fa fa-search"></i>
          </span>
          <input class="form-control" name="search" ngModel type="text" placeholder="Search Dashboard">
        </div>
      </div>
    </form>-->
    <ul class="nav navbar-nav flex-row float-right" (click)="$event.preventDefault()">
      
      <li class="nav-item dropdown ml-lg">
        <a href class="nav-link dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cog fa-lg"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a class="dropdown-item" href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; My Account</a></li>
          <li><a class="dropdown-item" [routerLink]=" ['/login'] "><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
        </ul>
      </li>

    </ul>
  </div>
</div>
